In [ ]:
import pandas as pd
import numpy as np

### Data

In [ ]:
from dotenv import load_dotenv
import os

# reemplaza esto con la ruta completa del archivo .env

load_dotenv(dotenv_path=".env")

my_var = os.environ.get("AUTH_API")

In [ ]:
import requests


url_internet_provincia = f"http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/ACCES-A-INTER-FIJO-POR/data.ajson/?auth_key={my_var}&limit=265"

response = requests.get(url_internet_provincia)

if response.status_code == 200:
    data = response.json()
else:
    print("Error en la petición:", response.status_code)

In [ ]:
display(data['result'][0])
display(data['result'][:])

In [5]:
df_internet_provincia = pd.DataFrame(data['result'][1:], columns=data['result'][0])

In [6]:
df_internet_provincia.tail()

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
259,2020,1,Santa Cruz,"12,845","15,766","1,026","6,817","2,368","38,822"
260,2020,1,Santa Fe,"302,366","383,673","35,123","30,488","19,468","771,118"
261,2020,1,Santiago Del Estero,"24,695","70,424",200,"2,779","4,657","102,755"
262,2020,1,Tierra Del Fuego,"12,854","25,632",0,0,308,"38,794"
263,2020,1,Tucumán,"143,184","10,494","44,687","1,355",347,"200,067"

In [7]:
df_internet_provincia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           264 non-null    object
 1   Trimestre     264 non-null    object
 2   Provincia     264 non-null    object
 3   ADSL          264 non-null    object
 4   Cablemodem    264 non-null    object
 5   Fibra óptica  264 non-null    object
 6   Wireless      264 non-null    object
 7   Otros         264 non-null    object
 8   Total         264 non-null    object
dtypes: object(9)
memory usage: 18.7+ KB

Convertir los dtypes de las columnas a como corresponde

In [10]:
df_internet_provincia = df_internet_provincia.applymap(lambda x: x.replace(',', '') if isinstance(x, str) else x)

In [13]:
df_internet_provincia.tail()

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
259,2020,1,Santa Cruz,12845,15766,1026,6817,2368,38822
260,2020,1,Santa Fe,302366,383673,35123,30488,19468,771118
261,2020,1,Santiago Del Estero,24695,70424,200,2779,4657,102755
262,2020,1,Tierra Del Fuego,12854,25632,0,0,308,38794
263,2020,1,Tucumán,143184,10494,44687,1355,347,200067

In [14]:
df_internet_provincia[['Año', 'Trimestre','ADSL', 'Cablemodem', 'Fibra óptica',
       'Wireless', 'Otros', 'Total']] = df_internet_provincia[['Año', 'Trimestre','ADSL', 'Cablemodem', 'Fibra óptica',
       'Wireless', 'Otros', 'Total']].astype(int)

In [15]:
df_internet_provincia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           264 non-null    int32
 1   Trimestre     264 non-null    int32
 2   Provincia     264 non-null    object
 3   ADSL          264 non-null    int32
 4   Cablemodem    264 non-null    int32
 5   Fibra óptica  264 non-null    int32
 6   Wireless      264 non-null    int32
 7   Otros         264 non-null    int32
 8   Total         264 non-null    int32
dtypes: int32(8), object(1)
memory usage: 10.4+ KB